<header>
<blog-navbar></blog-navbar>
<blog-header [show]="!inPost"></blog-header>
  <h1>
    Scully demo blog app! <small>{{ currentState }}</small>
  </h1>
  <a [routerLink]="['/home']">🏠</a>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <h3>Made with ❤️ <strong>Scully</strong></h3>

</footer>
<blog-footer></blog-footer>
<cookie-law position="bottom" name="ng4topCookieLaw" expiration="7">
    {{ 'cookies.message' | translate }}
    <!--<a href="https://github.com/andreasonny83/angular2-cookie-law">
      Click here for more info
    </a>-->
  </cookie-law>
